.section.feature {
  display: flex;
}

.feature-list-icon {
  width: 70px;
  height: 70px;
}

.feature-list {
  display: flex;

  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--seconf-bg-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }

  .item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .title {
    color: var(--title-text-color);
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .text {
    line-height: 1.71;
  }
}
