.site-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  .container {
    display: flex;
  }
}

.nav {
  display: flex;
}

.site-nav {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 305px;

  .item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .link {
    position: relative;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &::after {
      display: block;
      position: absolute;
      bottom: -33px;
      left: 0;
      content: '';
      width: 0;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
    }

    &.current {
      color: var(--accent-color);
      width: 100%;

      &::after {
        width: 100%;
      }
    }
  }
}

.header-contact {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;

  .item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.mail-icon {
  display: inline;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contact .link:hover &,
  .header-contact .link:focus & {
    fill: var(--accent-color);
  }
}

.phone-icon {
  display: inline;
  margin-right: 10px;
  width: 10px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contact .link:hover &,
  .header-contact .link:focus & {
    fill: var(--accent-color);
  }
}
