.logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;

  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-footer .logo {
  color: var(--primary-white-color);
}

.logo .accent {
  color: var(--accent-color);
}
